.bg-notfound {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100vh;
  }
  .bg-notfound img {
    height: 60%;
    width: auto;
  }
  
  .bg-notfound p {
    color: gray;
  }
  